@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}






.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 40;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    h3{
        margin-left: 48px;
        cursor: pointer;
        font-size: larger;
    }
    .header-side-links{
        font-weight: 600;
        margin-right: 60px;
        font-size: 17px;
        color: rgb(34, 34, 34);
        ul{
            display: flex;
            list-style: none;
            gap: 20px;
        }
        a{
            cursor: pointer;
            text-decoration: none;
            color: rgb(50, 49, 49);
            transition: color 0.5s;
        }
        a:hover{
            color: rgba(15, 129, 223, 0.826);
        }
    }
}








.hero{
    background-color: #f9f9f9;
    min-height: 100vh;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    gap: 9rem;

    .left-section{
        margin-top: 3rem;
        h1{
            font-size: 3.5rem;
            color: rgb(52, 51, 51);
        }

        .h1{
            position: absolute;
        }

        .h2{
            margin-top: 4rem;
            margin-bottom: 1rem;
        }

        img{
            margin-left: 17px;
            margin-top: 8px;
            width: 60px;
            height: 60px;
            animation: waving-hand 2.5s infinite;
            transform-origin: 70% 70%;
        }

        @keyframes waving-hand {
          0%{
            transform: rotate(0deg);
          }
          10%{
            transform: rotate(14deg);
          }
          20%{
            transform: rotate(-8deg);
          }
          30%{
            transform: rotate(14deg);
          }
          40%{
            transform: rotate(-4.0deg);
          }
          50%{
            transform: rotate(10deg);
          }
          60%{
            transform: rotate(0deg);
          }
          100%{
            transform: rotate(0deg);
          }
        }

        p{
            font-size: 1.1rem;
            color: rgb(107, 105, 105);
        }

        ul {
            display: flex;
            position: absolute;
            top: 81%;
            left: 17%;
            transform: translate(-50%, -50%);
          }

          ul li {
            list-style: none;
          }
          a{
            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
          }

          ul li a {
            width: 50px;
            height: 50px;
            background-color: #fff;
            text-align: center;
            line-height: 45px;
            font-size: 20px;
            margin: 0 10px;
            display: block;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            border: 3px solid #fff;
            z-index: 1;
          }

          ul li a .icon {
            position: relative;
            color: #262626;
            transition: .5s;
            z-index: 3;
          }

          ul li a:hover .icon {
            color: #fff;
            transform: rotateY(360deg);
          }

          ul li a:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f00;
            transition: .5s;
            z-index: 2;
          }

          ul li a:hover:before {
            top: 0;
          }

          ul li:nth-child(1) a:before{
            background: #0077b5;
          }
          
          ul li:nth-child(2) a:before{
            background: #dd4b39;
          }
    }

    .right-section{
        margin-top: 1rem;
        img {
          width: 350px;
          height: 350px;
          border-radius: 50%;
          }          
    }
}





  
  // .tech{
  //   margin: 3.5rem 0 4rem 10rem ;
  //   p{
  //     font-size: 1.1rem;
  //     font-weight: 500;
  //     border-right: 2px solid gray;
  //     width: 120px;
  //   }
  // }
  








.about{  
    margin: 6.5rem 0 9rem 0 ;

.about-down-secton{
  display: grid;
  grid-template-columns: 50% 50%;
  // gap: 10px;
}

.about-left-section{
  // width: 50%;
  img:nth-child(1) {
    height: 22rem;
    width: 25.5rem;
    position: relative;
    left: 9rem;
    border-radius: 1rem;
  }
  img:nth-child(2) {
    height: 4rem;
    width: 4rem;
    z-index: 30;
    position: absolute;
    margin-top: 20.5%;
    margin-left: 5%;
  }
  img:nth-child(3) {
    height: 12rem;
    width: 12rem;
    z-index: 20;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    margin-top: 16%;
    animation: rotation 8s linear infinite;
  }   
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
.about-right-section{
  // width: 50%;
  h4{
    font-size: 17px;
    margin-top: 8%;
    color: rgb(28, 133, 231);
  }
  h2{
    width: 338px; 
    line-height: 32px;
    font-size: 1.5rem;
    margin: 0.8rem 0 1rem 0;
    color: rgb(57, 56, 56);
  }
  p{
    margin-bottom: 1.5rem;
    font-size: 17px;
    color: gray;
    width: 540px;
  }
}
}






.project{
    background-color: #f9f9f9;
    padding-bottom: 3.5rem;
    
    .project-upper-part{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .project-header{
      padding: 6rem 0 0rem 0rem;
      color: rgb(28, 133, 231);
    }
    .project-line{
      padding: 0rem 0 0rem 0rem;
      margin: 8px 0 2rem 0;
      color: rgb(58, 57, 57);
    }

    .project-1{
      display: flex;
      gap: 4rem;
      justify-content: center;
      margin: auto;
      width: fit-content;
      padding: 2rem 2rem 4rem 2rem;
      margin-bottom: 3rem;
      box-shadow: 0 3px 2px -2px rgb(0 0 0 / 0.1);
      img{
        width: 350px;
        height: 350px;
        border-radius: 15px;
      }
      
      .project-1-text-part{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        p{
          width: 300px;
        }
      }
      .project-1-tech{
        margin-top: 0.1rem;
        span:nth-child(1){
          font-size: 17px;
          margin-right: 1.1rem;
          margin-left: 1.1rem;
          font-weight: 600;
        }
        span:nth-child(2){
          font-size: 17px;
          font-weight: 600;
        }
      }
      .project-1-code-demo{
        margin-top: 1.1rem;
        a:nth-child(1){
          color: rgb(11, 11, 11);
          font-size: 17px;
          text-decoration: none;
          margin-right: 2.5rem;
          font-weight: 500;
          transition: color 0.3s;
        }
        a:nth-child(2){
          color: rgb(11, 11, 11);
          text-decoration: none;
          font-size: 17px;
          font-weight: 500;
          transition: color 0.3s;
        }
        a:hover{
          color: rgb(28, 133, 231);
        }
      }
    }
    .project-2{
      display: flex;
      gap: 4rem;
      justify-content: center;
      margin: auto;
      width: fit-content;
      padding: 2rem 2rem 4rem 2rem;
      margin-bottom: 3rem;
      box-shadow: 0 3px 2px -2px rgb(0 0 0 / 0.1);
      img{
        width: 350px;
        height: 350px;
        border-radius: 15px;
      }
      
      .project-2-text-part{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        p{
          width: 300px;
        }
      }
      .project-2-tech{
        margin-top: 0.1rem;
        span:nth-child(1){
          font-size: 17px;
          margin-right: 1.1rem;
          margin-left: 1.1rem;
          font-weight: 600;
        }
        span:nth-child(2){
          font-size: 17px;
          font-weight: 600;
        }
      }
      .project-2-code-demo{
        margin-top: 1.1rem;
        a:nth-child(1){
          color: rgb(11, 11, 11);
          font-size: 17px;
          text-decoration: none;
          margin-right: 2.5rem;
          font-weight: 500;
          transition: color 0.3s;
        }
        a:nth-child(2){
          color: rgb(11, 11, 11);
          text-decoration: none;
          font-size: 17px;
          font-weight: 500;
          transition: color 0.3s;
        }
        a:hover{
          color: rgb(28, 133, 231);
        }
      }
    }
}
  





.contact{
    padding: 5rem 0 8rem 0rem;
    

    .contact-info-part{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    h3{
      // padding-left: 9rem;
      font-size: 17px;
      color: rgb(28, 133, 231);
    }
    .contact-h2-child1{
      margin: 0.8rem 0 1rem 0;
      padding-left: 2rem;
      font-size: 1.6rem;
      color: rgb(57, 56, 56);
    }
    .contact-down-section{
      // padding-left: 1rem;
      display: flex;
      gap: 5rem;
      margin-top: 3rem;
      h5{
        padding: 2px;
        color: rgb(54, 54, 54);
        font-size: 16px;
      }
      a{
        padding: 2px;
        text-decoration: none;
        color: rgb(111, 110, 110);
        transition: color 0.7s;
      }

      p{
        padding: 2px;
        color: rgb(111, 110, 110);
        transition: color 0.7s;
        cursor: pointer;
      }

      p:hover{
        color: rgb(28, 133, 231);
      }

      a:hover{
        color: rgb(28, 133, 231);
      }

      .mail-pin{
        display: flex;
        align-items: center;
        gap: 12px;
        span{
          padding: 0.9rem 1.3rem;
          border-radius: 50%;
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
          color: rgb(28, 133, 231);
        }
      }
      .mail-div{
        display: flex;
        align-items: center;
        gap: 12px;
        span{
          padding: 0.9rem 1.1rem;
          border-radius: 50%;
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
          color: rgb(28, 133, 231);
        }
      }
  }
}

.overlay{
  position:fixed;
  top:0;
  left:0;
  display: flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 100%;
  z-index: 200;
  backdrop-filter: blur(10px);


  .modalContainer{
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 55%;
    height: 80vh;
    border-radius: 15px;
    background-color: white;

    .img-div{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 200px;
        height: 200px;
        cursor: pointer;
      }
    }

    .form-div{
      ::placeholder {
        font-weight: 800;
        color: #b4b2b2;
      }
      p{
        width: fit-content;
        position: relative;
        margin-top: 0px;
        padding: 4px 8px;
        border-radius: 4px;
        left: 90%;
        cursor: pointer;

      }

      p:hover{
        background-color: rgb(248, 10, 10);
        color: white;
      }
      h2{
        margin-top: 0 !important;
        margin-bottom: 1.2rem;
      }
      form {
        width: 80%;
        display: flex;
        flex-direction: column;


        .input{
            position: relative;
            width: 100%;
            z-index: 1;
            margin-bottom: 10px;
          input{
            display: block;
            border: none;
            outline: none;
            width: 100%;
            padding: 0 30px 0 50px;
            border-radius: 25px;
            height: 50px;
            background-color: #e6e6e6;
            font-size: 15px;
            color: #666;
          }
          .focus-input{
            display: block;
            position: absolute;
            border-radius: 25px;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            box-shadow: 0 0;
            color: rgba(132,106,221,.5);
          }

          .symbol-input{
            display: flex;
            align-items: center;
            position: absolute;
            border-radius: 25px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-left: 30px;
            pointer-events: none;
            color: #aaa;
            font-size: 15px;
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            -moz-transition: all .4s;
            transition: all .4s;
          }

          input:focus+.focus-input{
            -webkit-animation: anim-shadow .5s ease-in-out forwards;
            animation: anim-shadow .5s ease-in-out forwards;
        }
        
        @-webkit-keyframes anim-shadow {
            to {
                box-shadow: 0 0 60px 25px;
                opacity: 0;
            }
        }
        
        @keyframes anim-shadow {
            to {
                box-shadow: 0 0 60px 25px;
                opacity: 0;
            }
        }
        input:focus+.focus-input+.symbol-input {
          color: #846add;
          padding-left: 22px;
        }
        }
        .textarea{
          position: relative;
            width: 100%;
            z-index: 1;
            margin-bottom: 10px;
          textarea{
            border: none;
            outline: none;
            min-height: 150px;
            border-radius: 25px;
            padding: 14px 30px;
            display: block;
            width: 100%;
            background: #e6e6e6;
            font-size: 15px;
            line-height: 1.5;
            color: #666;
          }
            span{
              display: block;
              position: absolute;
              border-radius: 25px;
              bottom: 0;
              left: 0;
              z-index: -1;
              width: 100%;
              height: 100%;
              box-shadow: 0 0;
              color: rgba(132,106,221,.5);
            }
            textarea:focus+span {
              -webkit-animation: anim-shadow .5s ease-in-out forwards;
              animation: anim-shadow .5s ease-in-out forwards;
          }
          textarea:focus+span{
            color: #846add;
          }
          
          @-webkit-keyframes anim-shadow {
              to {
                  box-shadow: 0 0 60px 25px;
                  opacity: 0;
              }
          }
          
          @keyframes anim-shadow {
              to {
                  box-shadow: 0 0 60px 25px;
                  opacity: 0;
              }
          }
          
        }
      }

      .submit-button{
        width: 100%;
        cursor: pointer;
        color: white;
        height: 50px;
        border-radius: 25px;
        background: #846add;
        border: none;
        outline: none;
        font-size: 15px;
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        transition: all .4s;
        font-weight: 600;
      }
      .submit-button:hover{
        background: #333
      }
    }
  }
}



.contact-form-div{
  position: relative;
  
  .contact-form{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    width: fit-content;
    background-color: rgb(28, 133, 231);
    border-radius: 30px;
    padding: 2.5rem 4.5rem;
    z-index: 100;
    top: 66px;
    left: 0;
    right: 0;
    margin: auto;

    p{
      width: 300px;
      font-size: medium;
      font-weight: 500;
      text-align: center;
    }
    h2{
      padding-left: 0px;
      color: rgb(40, 39, 39);
    }

    button{
      padding: 12px 32px; 
      border-radius: 25px;
      border: 2px solid black;
      background-color: rgb(28, 133, 231);
      font-size: medium;
      font-weight: 500;
      cursor: pointer;
    }

    button:hover{
      background-color: rgb(44, 43, 43);
      border: 2px solid rgb(44, 43, 43);
      color: white;
    }

  }

}






.footer{
  background-color: rgb(42, 42, 42);
  height: 220px;
  display: flex;
  align-items: center;
  

  h3{
    font-size: 18px;
    color: rgb(224, 222, 222);
    padding: 5rem 7rem 0 9rem;
  }
  
  .social-menu ul{
    padding-top: 5rem;
    position: absolute;
    left: 84%;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 8px;
}

.social-menu ul li .fab{
    font-size: 20px;
    line-height: 50px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(2) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(1) a:hover{
    background-color: #0077b5;
}

}











::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a5a1a1;
}



